{% extends "base.html" %}
{% block content %}
    <div style="width: 800px; margin-left: auto;margin-right: auto">
        <table class="table table-bordered table-striped ">
            <thead>
                <tr ><th>#</th><th style="width: 30%">用户级别</th><th style="width: 30%">每月收费(全场6折)</th><th style="width: 30%">每月流量</th></tr>
            </thead>
            <tbody>
                <tr><th>1</th><td>体验用户</td><td><del>1元</del><strong style="color: red; margin-left: 5%">0.6元</strong></td><td>100MB</td></tr>
                <tr><th>2</th><td>初级用户</td><td><del>5元</del><strong style="color: red; margin-left: 5%">3元</strong></td><td>1GB</td></tr>
                <tr><th>3</th><td>普通用户</td><td><del>10元</del><strong style="color: red; margin-left: 5%">6元</strong></td><td>10GB</td></tr>
                <tr><th>4</th><td>进阶用户</td><td><del>20元</del><strong style="color: red; margin-left: 5%">12元</strong></td><td>25GB</td></tr>
                <tr><th>5</th><td>VIP用户</td><td><del>50元</del><strong style="color: red; margin-left: 5%">30元</strong></td><td>100GB</td></tr>
            </tbody>
        </table>
    </div>

{% endblock %}