{% extends "base.html" %}
{% block content %}
    <div style="width: 800px; margin-left: auto;margin-right: auto">
        <table class="table table-bordered table-striped">
            <thead>
                <tr ><th>#</th><th>用户级别</th><th>每月收费</th><th>每月流量</th></tr>
            </thead>
            <tbody>
                <tr><th>1</th><td>体验用户</td><td>1元</td><td>100MB</td></tr>
                <tr><th>2</th><td>初级用户</td><td>5元</td><td>1GB</td></tr>
                <tr><th>3</th><td>普通用户</td><td>10元</td><td>10GB</td></tr>
                <tr><th>4</th><td>进阶用户</td><td>20元</td><td>25GB</td></tr>
                <tr><th>5</th><td>VIP用户</td><td>50元</td><td>100GB</td></tr>
            </tbody>
        </table>
    </div>

{% endblock %}