{% extends "base.html" %}
    {% block custom_js %}
        <script>
            $(document).ready(function() {
                var types = new Array(1,5,10,20,50)
                for (var type in types) {
                    if (types[type] > {{ proxyaccount.type }}) {
                        $('#inlineRadio'+types[type]).attr('disabled',true)
                    }
                    if (types[type] == {{ proxyaccount.type }}) {
                        type = parseInt(type)
                        $('#inlineRadio'+types[type]).attr('disabled',true)
                        $('#inlineRadio'+types[0]).attr('checked',true)
                    }
                }

                $("input[name=accoutType]").click(function(){
                    var type = $('input[name=accoutType]:checked').val()
                })
            })
        </script>
    {% endblock %}

{% block content %}
<div class="form-horizontal">
    <div class="form-group">
        <lable class="col-xs-10 col-xs-offset-2 col-sm-3 col-md-2 control-label" >选择账户类型：</lable>

        <div class="col-xs-10 col-xs-offset-2 col-sm-6 col-sm-offset-0">
            <label class="radio-inline">
                <input type="radio" name="accoutType" id="inlineRadio1" value="1">1元
            </label>
            <label class="radio-inline">
                <input type="radio" name="accoutType" id="inlineRadio5" value="5">5元
            </label>
            <label class="radio-inline">
                <input type="radio" name="accoutType" id="inlineRadio10" value="10">10元
            </label>
            <label class="radio-inline">
                <input type="radio" name="accoutType" id="inlineRadio20" value="20">20元
            </label>
            <label class="radio-inline">
                <input type="radio" name="accoutType" id="inlineRadio50" value="50">50元
            </label>
        </div>
    </div>




    <form method = "post" action="/account/downgrade">
        {% csrf_token %}
        <div class="form-group">
            <lable class="col-xs-10 col-xs-offset-2 col-sm-3 col-md-2 control-label" >账户剩余天数：</lable>

            <lable class="col-xs-1 col-xs-offset-2 col-sm-1 col-sm-offset-0 control-label" style="text-align: right">{{ proxyaccount.remain_time }}</lable>
            <lable class="col-xs-1 control-label" style="text-align: left">天</lable>
            <button class="btn btn-success" style="width: 80px; margin-left: 20px" type="submit">降级</button>
        </div>

        <input type="hidden" name="pay_type" value=4>
        <input type="hidden" id="type" name="type" value=1>
    </form>
</div>
{% endblock %}
