{% extends "base.html" %}

{% block exteral_js %}
    <script type="text/javascript" src="/static/lib/d3/d3.min.js"></script>
    <script>
    d3.selectAll("body").style("color", "red");
    </script>
{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" href="/static/css/ip_history.css">
{% endblock %}

{% block content %}

    <div style="width: 600px; margin-left: auto;margin-right: auto">
        <ol class="breadcrumb" style="background-color: transparent">
        <li><a href="/homepage">账户管理</a></li>
        <li class="active">流量图</li>
</ol>

        <p>程序猿还没有写好w(ﾟДﾟ)w</p>
{#       <table class="table" >#}
{#            <thead>#}
{#                <tr><th style="width: 30%">登陆时间</th><th style="width: 30%">IP地址</th><th style="width: 20%">地点</th><th style="width: 22%"></th></tr>#}
{#            </thead>#}
{#            <tbody>#}
{#            {% for traffic in traffic_list %}#}
{#                <tr><td>{{ traffic.time }}</td><td>{{ traffic.traffic }}</td><td></td><td></td></tr>#}
{#            {% endfor %}#}
{#            </tbody>#}
{#        </table>#}
    </div>

{% endblock %}