{% extends "base.html" %}
{% block content %}
<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="margin-bottom: 60px">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Windows-Chrome配置
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        <p>
            1、下载安装Chrome浏览器插件Switchy Omega <a href="https://www.switchyomega.com/download.html">下载地址</a>（选择直接本地下载crx文件）
        </p>
       <p>
            2、点击Chrome浏览器右上角自动出现的SwitchyOmega插件图标（一个黑圆圈），再点击最下面的“选项”进入SwitchyOmega配置界面
        </p>
          <img src="/static/imgs/chrome/chrome2.png"  class="img-rounded" >
          <p>
            3、新建情景模式，情景模式名称写“清云加速”，选第3种类型“PAC情景模式”。
        </p>
          <img src="/static/imgs/chrome/chrome3.png"  class="img-rounded" >
          <p>
            4、点击创建按钮，在PAC网址栏里输入相应URL（购买获得），再点一下下面的蓝色按钮“立即更新情景模式”，当PAC脚本框中出现如下信息时则说明更新成功
        </p>
          <img src="/static/imgs/chrome/chrome4.png"  class="img-rounded" >
          <p>
            5、再次点击Chrome浏览器右上角的SwitchyOmega插件图标，选择刚才创建的“清云加速”场景，就可以享受清云加速的相关服务
        </p>
      </div>
    </div>
  </div>


    <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
          Mac配置
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">
        <p>
            1、点击“系统偏好设置”
        </p>
          <img src="/static/imgs/mac/mac1.png"  class="img-rounded" width="200px">
       <p>
            2、点击“网络”
        </p>
          <img src="/static/imgs/mac/mac2.png"  class="img-rounded" width="600px">
          <p>
            3、选中正在使用的Wi-Fi或者以太网，点击“高级”
        </p>
          <img src="/static/imgs/mac/mac3.png"  class="img-rounded" width="600px">
          <p>
            4、勾选“自动代理配置”，在URL中填入相应URL（购买获得）
        </p>
          <img src="/static/imgs/mac/mac4.png"  class="img-rounded" width="600px">
      </div>
    </div>
  </div>



  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Windows-IE配置
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">
       <p>
            1、打开IE浏览器 > Internet选项
        </p>
          <img src="/static/imgs/IE/IE1.jpg"  class="img-rounded" >
        <p>
            2、在连接标签页中点击局域网设置
        </p>
          <img src="/static/imgs/IE/IE2.jpg"  class="img-rounded" >
          <p>
            3、勾选“使用自动配置脚本”，填入自动配置url（购买获得）
        </p>
          <img src="/static/imgs/IE/IE3.jpg"  class="img-rounded" >
      </div>
    </div>
  </div>


</div>

{% endblock %}
