﻿{% extends "base.html" %}

    {% block custom_js %}
        <script>
            $(document).ready(function() {
                if('{{ error }}' != ''){
                    if ('{{ error }}' == 'need_repay')
                    {
                        var r=confirm("您有未完成的订单，是否现在支付");
                        if (r==true)
                         {
                            window.location.href="/orders";
                         }
                         else
                         {
                            window.location.href="/homepage";
                         }
                    }
                    else if ('{{ error }}' == 'first_pay'){
                        alert('您已经不是第一次付款')
                    }
                    else if ('{{ error }}' == 'date'){
                        alert('您已欠费，请先续费')
                    }
                    else if ('{{ error }}' == 'upgrade'){
                        alert('您的账户已经是最高级')
                    }
                    else if ('{{ error }}' == 'downgrade'){
                        alert('您的账户已经是最低级')
                    }
                    else if ('{{ error }}' == 'repay' || '{{ error }}' == 'cancel'){
                        alert('查无此订单')
                    }
                    else {
                        alert('{{ error }}')
                    }
                }
            })
        </script>
    {% endblock %}

{% block content %}
    {% if proxyaccount.paydate == None %}
        <p align="center">您尚未缴费，请点击<a href="/alipay/apply/first" >缴费</a></p>
{#        <p align="center">或者<a href="/alipay/temp-apply" >内测缴费</a></p>#}
    {% else %}
        <div style="width: 800px; margin-left: auto;margin-right: auto">
            <table class="table table-bordered ">
                <thead>
                    <tr >
                        <th style="width: 22%">用户级别</th>
                        <th style="width: 22%">剩余时间</th>
                        <th style="width: 28%">已用流量</th>
                        <th style="width: 28%">上次登录IP<a style=" float: right" href="/ip_history/">历史记录</a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ proxyaccount.type }}元套餐 <a style="margin-left: 20px" href="/alipay/apply/upgrade"> 升级</a><a style="margin-left: 0px" href="/alipay/apply/downgrade"> 降级</a></td>
                        <td>{{ proxyaccount.remain_time }}天 <a style="margin-left: 20px" href="/alipay/apply/continue"> 续费</a></td>
                        <td>{{ proxyaccount.traffic }} MB <a style="margin-left: 20px" href="/flow_history/"> 流量图</a></td>
                        <td>{{ proxyaccount.ip_address}}  <u style="float: right">{{ proxyaccount.city }}</u></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {% if proxyaccount.type == 7 %}
            <p align="center">您的账户为：<a href="/accoutTypes/" title="查看资费说明">体验用户</a></p>
        {% elif proxyaccount.type == 8  %}
            <p align="center">您的账户为：<a href="/accoutTypes/" title="查看资费说明">VIP用户</a></p>
        {% endif %}

        {% if proxyaccount.remain_time > 0 and proxyaccount.traffic < proxyaccount.traffic_limit%}
            <p align="center">自动配置URL：<label>http://pac.scholar.thucloud.com/{{ proxyaccount.pac_no }}.pac</label></p>
            <p align="center">详情请查看<a href="/guide">配置说明</a></p>
        {% elif proxyaccount.remain_time == None%}
            <p align="center">您已欠费</p>
            <p align="center">请点击<a href="/alipay/apply/continue">续费 </a></p>
        {% elif proxyaccount.traffic >= proxyaccount.traffic_limit %}
            <p align="center">您已超过流量</p>
            <p align="center">请点击<a href="/alipay/apply/upgrade">升级 </a></p>
        {% endif %}
    {% endif %}
{% endblock %}
