{% extends "base.html" %}
    {% block custom_css %}
        <link rel="stylesheet" href="/static/css/index.css">
    {% endblock %}

{% block content %}
    {% if need_show_login %}
        <div class="unlogged container">
            <div class="index-img">
                <img src="/static/imgs/pic1.jpg" >
            </div>

            <div class="login">
                <form action="/login/" method="post" >
                    {% csrf_token %}
                  <div class="form-group">
                    <label for="exampleInputEmail1">用户名</label>
                      {% if error %}
                          <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="用户名或密码错误">
                      {% else %}
                          <input type="text" name="username" class="form-control" id="exampleInputEmail1" placeholder="用户名" value={{ username }}>
                      {% endif %}

                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">密码</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="密码">
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox">记住我
                    </label>
                  </div>
                  <button type="submit" class="btn btn-default btn-block">登录</button>
                </form>
            </div>
        <div class="clear"></div>
        </div>
    {% else  %}
        <div class="logged container">
            <div class="index-img">
                <img src="/static/imgs/pic1.jpg" >
            </div>
            <div class="notice">
                <table class="table">
                    <thead >
                        <tr><th style="padding: 0px 5px 5px 5px">站长通知</th></tr>
                    </thead>
                    <tbody >
                        <tr><td style="padding: 2px"><strong>[置顶]</strong> 活动：2016全年试用期 购买服务全场6折<p>2016.01.01</p></td></tr>
                        <tr><td style="padding: 2px">公告：11月28日服务器机房DNS解析故障 影响服务使用及支付功能 现已维修完成<p>2016.11.28</p></td></tr>
                        <tr><td style="padding: 2px">公告：5元账号流量限制由<strong>1GB</strong>更改为<strong>5GB</strong><p>2016.09.25</p></td></tr>

                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}


    <div class="intro container">
        <div class="intro-detail">
            <img class="img-center" src="/static/imgs/intro1.png">
            <div class="intro-center container">
                <div class="row">
                    <div class="col-xs-4"><strong>后台管理 快捷自助</strong><p>网站查看账户详情一目了然<br>全天自主充值购买即时生效</p></div>
                    <div class="col-xs-4"><strong>百兆带宽 高速稳定</strong><p>国内国外双级代理<br>全方位加速资源下载</p></div>
                    <div class="col-xs-4"><strong>设置简单 支持广泛</strong><p>支持各大主流浏览器<br>手机电脑平板，便捷使用</p></div>
                </div>

            </div>
        </div>
        </div>
        <div class="intro-detail">
            <div class="intro-detail container">
                <div class="intro-left row">
                    <div class="col-xs-1"></div>
                    <img class="img-center col-xs-5" src="/static/imgs/intro2.jpg">
                    <div class="col-xs-5 " style="margin-top: 10px; ">
                        <strong>清云加速器</strong>
                        <p>清云加速器是一款专业的定制化加速服务，支持加速访问国内、国外各大学术网站，加速学术资源下载。通过优质的带宽线路，实时的负载均衡，有效的加密算法，保障您访问学术资源的便捷和安全。无论您使用什么网络，我们均能最大化地提升您的下载效率。
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div class="intro-detail">
            <div class="intro-detail container">
                <div class="intro-right row">
                    <div class="col-xs-1"></div>

                    <div class="col-xs-5 " style="margin-top: 10px; ">
                        <strong>地区支持，全网络覆盖</strong>
                        <p>清云加速全面支持教育网、电信网、移动网等多种不同网络服务提供商的访问。<br>
                            国内国外双级服务器，无论你身在何处，均可有效解决资源无法访问的地域问题。
                        </p>
                    </div>
                    <img class="img-center col-xs-5" src="/static/imgs/intro3.png">
                </div>
            </div>
        </div>
        <div class="intro-detail">
            <div class="intro-detail container">
                <div class="intro-left row">
                    <div class="col-xs-1"></div>
                    <img class="img-center col-xs-5" src="/static/imgs/intro4.jpg">
                    <div class="col-xs-5 " style="margin-top: 0px; ">
                        <strong>自助管理 实时开通 简单易用</strong>
                        <p>清云加速的产品订购流程简单，支持支付宝在线支付，按流量计费，实时到账实时开通。<br>
                            配置简单，浏览器插件、自动配置脚本一键自动化配置，方便您的使用。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}